<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="TradeEntities" connectionString="metadata=res://*/DbEnti.Model1.csdl|res://*/DbEnti.Model1.ssdl|res://*/DbEnti.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=32-7\SQLEXPRESS;initial catalog=Trade;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="TradeEntities1" connectionString="metadata=res://*/DbEnti.Model1.csdl|res://*/DbEnti.Model1.ssdl|res://*/DbEnti.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=32-7\SQLEXPRESS;initial catalog=Trade;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>